/*
 * Required
 */

[v-cloak] {
  opacity: 0;
}
[v-cloak] [v-if] {
  display: none;
}
[v-cloak] [v-else-if] {
  display: none;
}
[v-cloak] [v-else] {
  display: none;
}

/*
 * Minimal styles
 */

body {
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: lighter;

  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
  }
}

header {
  grid-area: header;
}

main {
  grid-area: content;
  min-height: calc(100vh - 10em);
  padding: 0 2em 2em;
}

main.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
} 
 
footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

.icon {
  height: 2em;
  width: 2em;
}

strong {
  font-weight: bold;
  font-size: 1.2em;
}

.header-content {
  border-bottom: 1px solid black;
  background-color: white;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content a, .product-card a, .nav-content a, .search-results a {
  text-decoration: none;
  color: inherit;
}

.header-title, .header-search, .header-icons {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-content .header-title {
  justify-content: start;
  padding-left: 1em;
}

.header-content .header-search {
  position: relative;
  justify-content: center;
  text-align: center;
}

.header-content .header-icons {
  justify-content: end;
  padding-right: 1em;
}
